@keyframes header-slide-up {
    0% {
        height: 100vh;
        opacity: 0;
    }
    30% {
        opacity: 0.5;
    }
    100% {
        height: 15vh;
        opacity: 1;
    }
}

@keyframes header-slide-down {
    0% {
        height: 15vh;
        opacity: 0.5;
    }
    70% {
        opacity: 1;
    }
    100% {
        height: 100vh;
        opacity: 1;
    }
}

@keyframes header-title-animate-out {
    0% {
        font-size: 7rem;
    }
    100% {
        font-size: 3rem;
    }
}

@keyframes header-title-animate-in {
    0% {
        font-size: 3rem;
    }
    100% {
        font-size: 7rem;
    }
}

@keyframes show-goback-button {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hide-goback-button {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}