.cv {
    color: #333;
}

.cv__boxes {
    @include flex-center-row;
    flex-wrap: wrap;
    width: 80%;
}

.cv__box {  
    background-color: rgba(250,250,250,0.7);
    border-radius: 2rem;
    padding: 1rem;
    &--small {
        width: 45%;
        margin: 2rem 2.5%;
    }
    &--big {
        width: 95%;
        margin: 2rem 2.5%;
    }
}

.cv__subtitle {
    text-align: center;
    font-size: 1.8rem;
}

.cv__description {
    
}

.cv__category {
    font-weight: bold;
}

.cv__button-show {
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}